* {
    box-sizing: border-box;
}

@font-face {
    font-family: Dunk Tank;
    src: url('fonts/Kbdunktank-A5ag.ttf') format('truetype');
}

@font-face {
    font-family: Handwriting;
    src: url('fonts/Handwriting.ttf') format('truetype');
}

header {
    color: rgb(255, 255, 255);
    font-family: Dunk Tank;
    letter-spacing: 4px;
    font-size: 48px;
    text-align: center;
    margin-top: 48px;
}

body {
    color: rgb(54, 52, 32);
    background-image: url('pix/dreambg.png');
    background-size: cover;
}

main {
    order: 2;
    min-height: 700px;
    width: 70%
}
 article {
    background-image: url('pix/paper.jpg');
    max-width: 564px;
    padding: 8px;
    box-shadow: 0px 0px 12px #ffffff;
    font-family: Handwriting;
    text-shadow: 2px 2px 4px #ffffff;
 }
 article p {
    margin-top: 0;
    font-size: 18px;
 }

footer {
    padding-top: 16px;
    padding-left: 8px;
}
footer div {
    color: rgb(250, 247, 210);
}

#flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flexrow {
    display: flex;
    flex-direction: row;
    border: 12px solid transparent;
    border-image: url('pix/lgmarb3.png');
    border-image-repeat: repeat;
    background-image: url('https://i.pinimg.com/564x/4d/42/63/4d4263a663ed53770d2c6dc126622139.jpg');
    background-size: 500px;
}

aside {
    margin-top: 12px;
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
}

ul li {
    padding-bottom: 1px;
    font-size: 16px;
    margin: 0;
    color: rgb(59, 31, 221);
    text-shadow: 2px 2px 4px #ffffff;
}

ul li a {
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

ul li a:hover {
    color:rgb(142, 129, 255);
}

#leftSidebar {
    order: 1;
    height: 100%;
}

#return {
    text-decoration: none;
    font-family: Handwriting;
    text-align: center;
    color: #ffffff;
    margin: 4px;
}
#return:hover {
    color: rgb(152, 151, 241);
}
