:root{
    --onyx: rgb(20, 25, 27);
    --coral: rgb(239, 131, 84);
    --ivory: rgb(246, 247, 235);
    --english-violet: rgb(104, 59, 105);
    --blue: rgb(59, 142, 165);
}

@font-face {
    font-family: Calive;
    src: url('fonts/CaliveRoughRegular.otf') format('opentype');
}

body {
    background-image: url('pix/resourcesbg.png');
    background-color: rgb(255, 216, 234);
}

header {
    color: var(--ivory);
    text-align: center;

    h1 {
        font-family: Calive;
        font-weight: normal;
        font-style: normal;
        font-size: 48px;
    }
}

main {
    margin-left: 20px;
    color: var(--ivory);
}
