@font-face {
    font-family: Fortnite;
    src: url('fonts/Fortnite.ttf') format('truetype');
}

#boyfriend {
    height: 400px;
    width: auto;
    border: 8px dashed #008292;
}
body {
    background-image: url(pix/bgskulls.gif);
    background-size: 140px;
    color: white;
}

#container {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    order: 2;
    max-width: 950px;
    float: left;
}

h1{
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    font-family: Fortnite;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    padding-top: 14px;
    padding-bottom: 14px;
}

p {
    font-size: 18px
}

aside {
    padding: 20px;
}

#rightSidebar {
    order: 2;
    margin-left: 10px;
    border-style: dashed;
    border-color: violet;
    background-color: black;
    width: 250px;
    float: right;
    height: 800px;
    overflow-wrap: normal;
}

#ipod img {
    width: 250px;
    position: relative;
}

#ipod div {
    position: absolute;
    bottom: 340px;
    right: 52px;
    height: 150px;
    width: 200px;
}

#ipod p {
    font-family: Fortnite;
}

#ipod li {
    list-style: none;
    margin-right: auto;
    padding-right: auto;
    display: inline-block;
    position: absolute;
    right: 52px;
    width: 240px;
    bottom: 340px;
    padding-left: -12px;
}
#ipod li ul {
    text-align: left;
    display: flex;
    margin: 0;
}
#ipod li ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}