:root {
    /* images */
    --body-bg-image: url('https://64.media.tumblr.com/ec2f01259b2fb980b52c923a9adf188b/145fd94558712c9b-78/s2048x3072/c9c708028d682ee15ec3231417996b69773e5088.jpg');
    --aside-bg-image: url('pix/pale_010.jpg');

    --pale-blue: #D9F8FB;
    --pale-green: #9FCF80;
    --rose-pink: #FB9AE6;
    --sky-blue: #1B92CC;
    --true-pink: #CC5CAA;
    --honey-yellow: #E49F20;
    --baby-yellow: #ffdd99;
}
html, body {
    cursor: url(https://file.garden/ZwtqNziYoEL_MBDY/Wii%20Pointer%20Open%20Hand.cur), auto;
}

a, button:hover {
    cursor: url(https://file.garden/ZwtqNziYoEL_MBDY/Wii%20Pointer.cur), auto;
}

/* Custom fonts */
@font-face {
    font-family: Kiddosy;
    src: url('fonts/KiddosyfreeRegular-GOEag.otf') format('opentype');

}
@font-face {
    font-family: TheNightOne;
    src: url('fonts/TheNightOne-Yzpyo.otf') format('opentype');
}
@font-face{
  font-family: Handwriting;
  src: url('fonts/Handwriting.ttf') format('truetype');
}
@font-face {
    font-family: Planet Earth;
    src: url('fonts/Kbplanetearth-wxwz.ttf') format('truetype');
}
@font-face {
    font-family: Avoxlost;
    src: url('fonts/Kbanavoxlost-gajq.ttf') format('truetype');
}
/* ... */

/* Text Styling */
h1 {
    font-size: 25px;
    font-family: TheNightOne;
    color: var(--honey-yellow);
    text-align: center;
}
p {
    font-family: Handwriting;
    font-size: 16px;
}
/* ... */

/* Header Styling */
header {
    background-image: url('pix/dividers/flowers3.gif');
    background-repeat: repeat-x;
    background-position-y: bottom;
}

/* ... */

#contents {
    background-image: url(pix/pale_010.jpg);
}

#status-border {
    /* background-image: url('https://img1.picmix.com/output/stamp/normal/7/0/9/4/254907_17c7a.gif'); */
    padding: 12px;
}
#status {
    position: relative;
    background-color: rgba(from var(--true-pink) r g b / 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px var(--true-pink) inset;
    border: 4px solid var(--true-pink);
}
#statuscafe-username {
    padding-left: 8px;
    font-family: Kiddosy;
}
#statuscafe-content {
    padding: 4px 0px 2px 16px;
    font-family: Avoxlost;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: bold;
    font-size: 16px;
}
#statuscafe-timestamp {
    position: absolute;
    font-family: Planet Earth;
    font-size: 12px;
    top: 10px;
    left: 180px;
    font-style: italic;
}

/* Navigation button styling */
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-around;
    height: 100%;
}
nav ul li {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
nav ul li button {
    width: 100%;
    height: 100%;
    border: none;
    font-family: Kiddosy;
    font-size: 18px;
    color: hsl(from var(--sky-blue) h s 90%);
    background-color: rgba(1, 1, 1, 0);
}
nav ul li button:hover {
    color: hsl(from var(--sky-blue) h s 40%);
}
nav ul li button:active {
    color: hsl(from var(--sky-blue) h s 30%);
}

#minimenu-border {
    padding: 12px;
}
#minimenu {
    box-shadow: 1px 1px 14px 12px var(--sky-blue) inset;
    background-color: rgba(from var(--sky-blue) r g b / 0.5);
    border-radius: 8px;
    border: 4px solid var(--sky-blue);
}
/* ... */


/* Home Styling */
article {
    background-image: url('pix/bg/starbub2.gif');
    border: 4px dashed var(--sky-blue);
    padding: 8px;
    border-radius: 8px;
    color: var(--pale-blue);
    margin: 0px 16px;
}
#marquee {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    margin: 6px;
}
#blinkies {
    position: absolute;
    white-space: nowrap;
    will-change: transition;
    animation: marquee 32s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/* ... */

#todo {
    background-image: url('pix/torn-paper.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#todo h3 {
    text-align: center;
    font-family: Avoxlost;
    font-size: 24px;
    color: #ddb1fa;
    margin-top: 8px;
}
#todo ul li {
    list-style-image: url('pix/lgmarb3.png');
    color: #ddb1fa;
    font-family: Avoxlost;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: bold;
}
#recent-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chatdivider {
    height: 19px;
    width: 100%;
    background-image: url('pix/dividers/rainbowstars6.gif');
    margin-top: 8px;
    margin-bottom: 8px;
}

#guestbook {
    text-align: center;
}
#gbiframe {
    background-image: url('pix/bg/beachbg.gif');
    width: 860px;
    height: 480px;
}

#container {
    position: relative;
}

#challenges {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#challengesmsg {
    text-align: center;
}

/* Left Aside */
#music-player {
    box-shadow: 1px 1px 14px 12px var(--honey-yellow) inset;
    background-color: rgba(from var(--honey-yellow) r g b / 0.5);
    border-radius: 8px;
    border: 4px solid var(--honey-yellow); 
}

#buttons {
    background-image: url('https://64.media.tumblr.com/02b0f9d76e9736fefc9bfbcb10c5b71d/c33ef4067bcde5db-d5/s250x400/ae2db3835d0b452096143136890504ff8e9f9a33.gifv');
    box-shadow: 0px 0px 12px var(--sky-blue);
    scrollbar-color: black var(--sky-blue);
    border: 2px inset var(--sky-blue);
}
#buttons-column {
    height: 200%;
}
#buttons-column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ... */

/* Right Aside */
#external-nav {
    background-color: rgba(from var(--pale-blue) r g b / 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px #abdcdf inset;
    border: 4px solid #abdcdf; 
}
#external-nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#webring-space {
    background-color: rgba(from var(--pale-green) r g b / 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px var(--pale-green) inset;
    border: 4px solid var(--pale-green); 
    padding: 8px;
    min-width: 250px;
}
/* ... */


footer {
    text-align: center;
    color: var(--accent-2-lighter-20);
}
footer p {
    color: var(--accent-2-lighter-80);
    margin: 0;
}
footer h3 {
    margin: 0;
}