* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: var(--body-bg-image);
    background-attachment: fixed;
}

#main-container {
    margin: 32px 32px 8px 32px;
}

header {
    height: 90px;
    padding-left: 16px;
    position: relative;
    padding-top: 2px;
    background-color: purple;
}
#title {
    position: absolute;
    left: 124px;
    top: 24px;
}
#header-sticker {
    position: absolute;
    left: 24px;
    height: 100px;
}

#contents {
    display: flex;
    background-color: green;
}

aside {
    font-size: smaller;
    padding-top: 2px;
    width: 300px;
}
#leftSidebar {
    background-color: red;
    order: 1;
    padding: 8px;
}
#music-player {
    background-color: blue;
    height: 450px;
}
/* currently cut out marquee */
#buttons {
    margin-top: 24px;
    background-color: pink;
    height: 250px;
    display: flex;
    overflow-y: auto;
}
#buttons-column {
    position: relative;
    float: left;
    height: 100%;
    /* animation: vertical-buttons 8s 0.5s linear infinite; */
    margin-left: 2px;
}
/*
#buttons-column:hover {
    animation-play-state: paused;
}
@keyframes vertical-buttons {
    from {transform: translateY(0)}
    to {transform: translateY(-100%)}
}
*/

#rightSidebar {
    order: 3;
    padding: 8px;
    background-color: red;
}
#external-nav {
    background-color: blanchedalmond;
    height: 550px;
}
#webring-space {
    background-color: teal;
    margin-top: 24px;
    height: 160px;
}

main {
    order: 2;
    width: 100%;
}
#status {
    padding: 4px;
    background-color: blueviolet;
}
nav {
    height: 40px;
    width: 100%;
}
#center-contents {
    width: 100%;
    padding: 12px;
}
#recent-post {
    width: 100%;
    height: 400px;
    overflow-y:auto;
}
#img-log-container {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 24px;
}
#recent-image {
    float: left;
    height: 100%;
    background-color: coral;
    width: 60%;
    margin-right: 24px;
}
#log {
    float: left;
    height: 100%;
    background-color: yellowgreen;
    width: 40%;
    margin-left: 24px;
}

